@model InsuranceCalculationModel
<form asp-action="Edit" method="post"> 
    <div> 
        <label asp-for="SquareMeter" class="control-label"></label>
        <input asp-for="SquareMeter" class="form-control" />
        <span asp-validation-for="SquareMeter" class="text-danger"></span>
    </div> 
   
    <div> 
        <input type = "submit" value = "Calculate" /> 
    </div> 
</form>
@if (Model?.InuranceOption != null)
{
    <div>
        The Best Insurance for Your Flat is @Model.InuranceOption.Name
    </div>
}